*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

.layout-container{
    height: 100vh;
}

.flex-center {
    display: flex;
    align-items: center;
}

.layout-padding {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid #eee;
    border-radius: 10px;
}


